<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tell us your story</h1>

    <form action="<%=action%>" method="post" id="postEntry">
        <input type="hidden" name="filename" value="<%=filename||''%>">

        <label for="title">Title</label><br>
        <input type="text" name="title" value="<%=title||''%>"  required><br>

        <label for="date" required>Date</label><br>
        <input type="date" name="date" value="<%=date||''%>"  required><br>

        <label for="content">Content</label><br>
        <textarea name="content" placeholder="Enter your message"><%=content||''%></textarea><br>

        <button>Post</button>
    </form>
</body>
</html>