<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <button><a href="/admin">Back to Home</a></button>
    <h1><%=title%></h1>
    <p><%=date%></p>
    <div><%=content%></div>

    <button><a href="/admin/edit/<%=filename%>">edit</a></button>
    <button><a href="/admin/delete/<%=filename%>">delete</a></button>
</body>
</html>